{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.0"}
         ;; database
         datalevin/datalevin {:mvn/version "0.9.12"}
         ;; HTTP
         cheshire/cheshire {:mvn/version "5.13.0"}
         org.babashka/http-client {:mvn/version "0.4.21"}
         aleph/aleph {:mvn/version "0.8.1"}
         metosin/reitit {:mvn/version "0.7.2"}
         metosin/muuntaja {:mvn/version "0.6.10"}
         ;; markdown and hiccup
         com.kiranshila/cybermonday {:mvn/version "0.6.215"}
         dev.onionpancakes/chassis {:mvn/version "1.0.365"}
         ;; validation
         metosin/malli {:mvn/version "0.16.4"}
         ;; config
         aero/aero {:mvn/version "1.1.6"}
         ;; cli interface
         org.babashka/cli {:mvn/version "0.8.60"}}
 :aliases
 {:jvm-base {:jvm-opts [;; required by datalevin
                        "--add-opens=java.base/java.nio=ALL-UNNAMED"
                        "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                        ;; lnd uses cert with "localhost"
                        "-Djdk.internal.httpclient.disableHostnameVerification"]}
  :neil {:project {:name com.noblepayne/lnd-boost-scraper}}
  :outdated {;; Note that it is `:deps`, not `:extra-deps`
             :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
